
<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Pizza Professor</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/styles/shop.css" rel="stylesheet">

</head>

<body>
    
    <ui-view></ui-view>
    
    <!-- libs -->
    <script src="../scripts/libs/jQuery.js"></script>
    <script src="../scripts/libs/bootstrap.min.js"></script>
    <script src="../scripts/libs/moment.min.js"></script>
    <script src="../scripts/libs/underscore.min.js"></script>
   <script src="../scripts/libs/angular.min.js"></script>
   <script src="../scripts/libs/angular-ui-router.js"></script>

   <!--Pizza-->
   <script src="../scripts/pizza/app.js"></script>
   <script src="../scripts/pizza/loginController.js"></script>
   <script src="../scripts/pizza/registrationController.js"></script>
   <script src="../scripts/pizza/homeController.js"></script>
   <script src="../scripts/pizza/productController.js"></script>
   <script src="../scripts/pizza/cartController.js"></script>
   <script src="../scripts/pizza/historyController.js"></script>

</body>

</html>
