<div class="screen-center">
    <div class="container" style="width: 20%;">
        <form>
            <div class="form-group">
                <label for="email" class="pull-left">Username:</label>
                <input type="email" ng-model="user.emailId" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd" class="pull-left">Password:</label>
                <input type="password" ng-model="user.password" class="form-control" id="pwd">
            </div>
            <button type="submit" ng-click="doLogin(user)" class="btn btn-primary pull-right">Login</button>
        </form>
    </div>
</div>